# binaires
*.exe
*.dll

#base de données (NE DOIT JAMAIS être commitée)
*.db

# SQLite runtime files
*.db-wal
*.db-shm


#fichiers sensibles
*.env
*.env.*
config.json
credentials.json

#fichier temporaires / logs
*.log
logs/
debug/
temp/
f2p_results.txt

#output GO
buid/
dist/seadogs.db-shm
seadogs.db-wal
